
* {
  box-sizing: border-box;
  margin: 0;
} 

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: #222;
  height: 170px;
  padding: 30px;
  color: white;
}

header h1 {
  font-size: 40px;
  margin-left: 15px;
  font-weight: 300;
}

.search-area{
  padding-top: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*BookList Styles*/

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}

.card-container {
  width: 250px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.save-button {
  padding-top: 10px;
}